<h2><%= @artist.first_name %>
        <span class="last-name"> <%= @artist.last_name %> </span></h1>
<div class="label-center">
<%= image_tag(@artist.last_name+'1.jpg', class: 'img-polaroid') %>
  <h3 class="caption">
    <p> <%= @artist.first_piece %></p>


</h2>
</div>
  <p> <%= @artist.bio %></p>
</ul>
