<!DOCTYPE html>
<html>
<head>
  <title>Vanier Quartier Numérique -- Voix Visuelle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="description" content="Vanier Quartier Numérique, une galerie en ligne de Voix Visuelle, de l'exposition ayant lieu au Centre Richelieu-Vanier, du 13 juin au 13 décembre 2013">
  <meta name="author" content="Le Centre d'artistes Voix Visuelle; Paula Franzini">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1 id="site-title">
    <span>
      Voix Visuelle
    </span>
  </h1>
  <div id="site-description"><a href="http://voixvisuelle.ca/" target="_blank">Le Centre d'artistes Voix Visuelle</a></div>
</div>
  <div class="container">
  <%=  link_to(root_path) do %>
    <div class="vqn-ui"></div>
  <% end %>
  <div class="black-bar"> </div>
</div>

<div class="container">
<div class="intro">
<h1>
<%=  link_to(root_path) do %>
Vanier Quartier Numérique:
<% end %>
</h1>

 <h3>Une exposition permanente sur écran numérique grâce au soutien du <a href="http://ottawa.ca/en/residents/parks-and-recreation/recreation-facilities/recreation-centre-locations/richelieu-vanier/" target="blank">Centre Richelieu-Vanier</a>, situé au 300 Des Pères-Blancs à Ottawa. Vernissage le 13 juin 2013.
</h3>
</div>
<%= yield %>
  </div>

</body>
</html>
